body {
	margin: 0px auto;
	background-color: #F3F3F3;
}

.nav {
	background-color: #0071BC;
	border-bottom: 2px solid #858586;
}

h1 { /*color: #FFCC22;*/
	color: #CC22FF;
	margin-left: 25px;
	padding-top: 20px;
	padding-left: 6px;
	height: 50px;
	width: 100%;
}

h1 #email {
	padding-left: 17px;
	font: 18px/18px "Comic Sans MS", "Times New Roman", Georgia, Serif;
	color: #FF4523;
}

span a {
	text-decoration: none;
}

span a:hover {
	text-decoration: underline;
	font-size: 1.2em;
	font-family: "Comic Sans MS", "Times New Roman", Georgia, Serif;
}

.round {
	margin: 1em 0.5em 0 1em;
	height: 1000px;
	width: 90%;
	background-color: #F3F3F3;
	border: 1px solid #AAAAAA;
}

.cloud {
	margin: 25px 0 0 25px;
	height: 500px;
	width: 90%;
	border: 1px solid #AAAAAA;
	background-color: #996600;
	-moz-border-radius: 15px; /* Gecko browsers */
	-webkit-border-radius: 15px; /* Webkit browsers */
	border-radius: 15px;
	-moz-border-radius: 15px; /* W3C syntax */
}

.cloud p {
	font: bold 18px/20px "Times New Roman", Georgia, Serif;
	margin: 15px 0px 5px 0px;
	padding: 5px 0px 5px 5px;
	height: 100% +4;
	background-color: #DDDDDD;
}

.tool {
	text-align: left;
	font-size: 1.1em;
	margin: 8px 0 0 10px;
}

.tool a {
	text-decoration: none;
}

.tool a:hover {
	text-decoration: underline;
	font-size: 1.1em;
	font-family: "Comic Sans MS", "Times New Roman", Georgia, Serif;
}